<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF 8">
  </head>
  <body>
    <h2 style="text-align: center">Simple Date Converter</h2>
    <br>
    <br>
    <form name="dateForm" action="result.component.html" (ngSubmit)="onSubmit()" method="GET">
        <div style="text-align:center" class="form-group">
            <label>Input RFC-3339 Formatted Date</label>
            <br><br>
                <input type="text" name="form1" class="formatdate">
            <br><br>
            <input type="submit" id="fsubmit">
        </div>
        <script>
            $('.formatdate').each(function() {
                var date = document.getElementByClassName('formatdate');
                $(".formatdate").innerHTML = new Date(date);
            });
        function formValidation(){
            var df = document.forms["dateForm"]["form1"].value;
            if(df == null | df == ""){
                alert("Field must be filled");
                return false;
            }
        }
        </script>
    </form>
  </body>
</html>